@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

body {
  background-color: rgb(239, 239, 239);
}

.header {
  display: flex;
  background-color : rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.trybewarts-header-logo {
  width: 4rem;
  height: 4rem;
}

.trybewarts-login {
  display: flex;
  width: 28rem;
}

.button.is-link {
  background-color: rgb(78, 44, 131);
  border-color: transparent;
  color: white;
  margin-left: 5px;
}

.button.is-link:hover , .button.is-link.is-hovered {
  background-color: rgb(70, 40, 118);
  border-color: transparent;
  color: white;
}

.title.is-2 {
  color: white;
  margin: 0;
}

.control {
  padding: 0 5px;
}

#main-form {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#trybewarts-forms-logo {
  height: 500px;
  display: flex;
  align-self: center;
}

#name-lastname {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#email-house {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#line-one {
  width: 100%;
  background-color: rgb(165, 165, 165);
  margin: 15px;

}

#line-two {
  width: 100%;
  background-color: rgb(165, 165, 165);
  height: 1px;
  margin: 10px;
}

#family {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

#label-family {
  padding-bottom: 10px;
}

#content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

#label-content {
  padding-bottom: 10px;
}

.span {
  padding-left: 20px;
}

.subject {
  margin-bottom: 10px;
}

#family-content {
  display: flex;
}

#rate {
  align-self: flex-start;
}

#label-rate {
  padding-right: 10px;
}

.textarea {
  padding: unset;
  min-height: unset;
  display: unset;
  max-width: unset;
  min-width: unset;
  resize: unset;
  background-color: unset;
  border-color: unset;
  border-radius: unset;
  color: unset;
  box-shadow: unset;
  width: unset;
  border: unset;
}

.textarea:not( [ rows ] ) {
  max-height: unset;
  min-height: unset;
}

#textarea {
  width: 500px;
  height: 100px;
}

#areatexto {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-self: flex-start;
}

#p {
  display: flex wrap;
  align-self: flex-end;
  font-size: small;
}

#termosdeuso {
  align-self: flex-start;
}

#submit-btn {
  width: 500px;
  padding: 5px;
  align-self: flex-start;
}

.footer {
  background-color: rgb(60, 64, 74);
  padding: 0.75rem;
}

.content {
  color: white;
}
