@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';

.header {
  display: flex;
  background-color : rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.trybewarts-header-logo {
  width: 4rem;
  height: 4rem;
}

.trybewarts-login {
  display: flex;
  width: 28rem;
}

.button.is-link {
  background-color: purple;
  border-color: transparent;
  color: white;
  margin-left: 5px;
}

.button.is-link:hover , .button.is-link.is-hovered {
  background-color: darkmagenta;
  border-color: transparent;
  color: white;
}

.title.is-2 {
  color: white;
  margin: 0;
}

.control {
  padding: 0 5px;
}

.evaluation-form {
  display: flex;
  width: 675px;
}
